<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<header><%- include('partials/header') %></header>
<body>
    <h1>Login</h1>
    <form id="registerform" class="registerform" onsubmit="login(event)">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="password">Password</label>
        <input type="text" id="password" name="password">
        <input type="submit">
    </form>
    <div id="serverresponse"></div>

</body>
<footer><%- include('partials/footer') %></footer>
</html>