<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <header><%- include('partials/header') %></header>
  </head>
  <body>
    <form id="registerform" class="registerform" onsubmit="registerNewUser(event)">
      <label for="first_name">First name</label>
      <input type="text" id="first_name" name="first_name">
      <label for="last_name">Last name</label>
      <input type="text" id="last_name" name="last_name">
      <label for="email">Email</label>
      <input type="text" id="email" name="email">
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
      <label for="password">Password</label>
      <input type="text" id="password" name="password">
      <input type="submit">
  </form>
  <div id="serverresponse"></div>
  </body>
  <footer> <%- include('partials/footer') %></div></footer>
</html>
