<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <header><%- include('partials/headerweather') %></header>
  </head>
  
  <body>
    <h1>Your Favorite Places</h1>
<!-- 
    <% if (favorites === 'nothing') { %>
        <p>You don't have any favorite places yet.</p>
    <% } else { %>
       <div id="favoriteplaces"></div>
    <% } %> -->
    <div id="favorites"></div>
    <!-- <script>getFavorites(favorites)</script> -->
  </body>
  <footer><%- include('partials/footer') %></footer>
</html>




new:

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js">getFavorites(event, favorites)</script>
    <header><%- include('partials/headerweather') %></header>
  </head>
  
  <body>
    <h1>Your Favorite Places</h1>

    <div id="favorites"></div>
    
  </body>
  <footer><%- include('partials/footer') %></footer>
</html>
